.app-card {
  margin: 1vw;
}

.card-img-top {
  width: 90%;
}

.app-card:nth-child(1) {
  background-color: gold;
}
.app-card:nth-child(2) {
  background-color: lightpink;
}
.app-card:nth-child(3) {
  background-color: aquamarine;
}
.app-card:nth-child(4) {
  background-color: chocolate;
}
