.app-card {
  margin: 1vw;
  // background: linear-gradient(205deg, firebrick, bisque);
  // background: linear-gradient(205deg, color, indigo);
}

.card-img-top {
  width: 90%;
}

.app-card:nth-child(1) {
  background: linear-gradient(205deg, darkgreen, olive);

}
.app-card:nth-child(2) {
  background: linear-gradient(205deg, lightpink, indigo);

}
.app-card:nth-child(3) {
  background: linear-gradient(205deg, chocolate, crimson);

}
.app-card:nth-child(4) {
  background: linear-gradient(205deg, aquamarine, darkslategray);

}
.app-card:nth-child(5) {
  background: linear-gradient(205deg, palevioletred, firebrick);

}
