@import "bourbon/bourbon";
@import "saffron/saffron";
@import "cards";
a {
  &:hover {
    text-decoration: none;
    color: red;
  }
}
h2, h3, .h2, .h4, .btn-lg {font-family:'Roboto Slab';}
body {
  background: linear-gradient(#ffd,#0af, transparent), url("../img/graphy.png");
  p {
    font-size: 18px;
  }
}
.row, .flex-row {
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.interesting-link {
  &:hover {
    @include pulsate();
  }
  &:active {
    @include bounce();
  }
}

.teeter {
  &:hover{@include teeter();}
  &:active{@include teeter();}
}

.btn-lg {
  @extend .teeter;
  a{&:hover{color: deepskyblue;}}
}

.fun-icon {
  @extend .interesting-link;
  opacity: 0.7;
}
